@model InnovaSchools.Models.GenerarContratoViewModel

@{
    int index = 0;
}
<span class="TitleEstTimeClass" style="color: red">
    @Html.DisplayFor(m => m.resultadoFind)
</span>


<br />
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-condensed">
        <tr class="active">
            <th colspan="7">LISTA DE CANDIDATOS</th>
        </tr>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.Candidato.nombreCompleto)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Candidato.Persona.documentoIdentidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato.Convocatoria.Puesto.descripcionPuesto)
            </th>
        
        </tr>
        @for (index = 0; index < Model.Candidatos.Count; index++)
        {
            <tr>
                <td>
                    @Html.ActionLink(@Model.Candidatos[index].Persona.nombreCompleto.ToString(), "getContrato", "GenerarContrato", new { pIdPersona = @Model.Candidatos[index].Persona.idPersona }, null)
                </td>
               <td>
                    @Model.Candidatos[index].Persona.documentoIdentidad
                </td>
                <td>
                    @Model.Candidatos[index].Convocatoria.Puesto.descripcionPuesto
                </td>                                                
            </tr>
        }
    </table>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            alert(1);

        });
    </script>

}