@model InnovaSchools.Models.ProgramarPersonalViewModel

@{
    int index = 0;
}

<span class="TitleEstTimeClass" style="color: red">
    @Html.DisplayFor(m => m.resultadoFind)
    </span>
    <br />
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-condensed">
        <tr class="active"><th colspan="4" >LISTA DE PERSONAL</th></tr>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.Persona.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.nombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Puesto.descripcion_puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Turno.descripcion_turno)
            </th>           
        </tr>

        @for (index = 0; index < Model.Personas.Count; index++)
        {
            <tr>
                <td>
                    @Model.Personas[index].dni.ToString()
                </td>
                <td>
                    @Html.ActionLink(@Model.Personas[index].nombreCompleto.ToString(), "getProgramarPersonal", "ReProgramarPersonal", new { pFechaInicio = @Model.Personas[index].fecha_inicio, pFechaFin = @Model.Personas[index].fecha_fin, pIdTurno = @Model.Personas[index].Turno.id_turno, pIdPersona = @Model.Personas[index].id_persona }, null)
                </td>
                <td>
                    @Model.Personas[index].Puesto.descripcion_puesto
                </td>
                <td>
                    @Model.Personas[index].Turno.descripcion_turno
                </td>                               
            </tr>
        }

    </table>
</div>
