@model InnovaSchools.Models.ProgramarPersonalViewModel

@using PagedList.Mvc;
@using InnovaSchools.Util

@{
    ViewBag.Title = "Re-Asignar Disponibilidad Personal";
}
<div class="jumbotron">
    <h4>RE-ASIGNAR DISPONIBILIDAD PERSONAL</h4>
    <hr />
    <form class="form-horizontal">
        @using (Html.BeginForm("Crear", "ProgramarPersonal", FormMethod.Post, new { @id = "form-programar-personal" }))
        {
            <div class="form-inline">
                <div class="form-group">
                    @Html.LabelFor(model => model.fecha_inicio, htmlAttributes: new { @class = "control-label", @style = "width:140px;" })
                    @Html.TextBox("ddlFecha_inicio", "", new { @class = "date-picker", @style = "border-color: red" })
                    @Html.ValidationMessageFor(model => model.fecha_inicio, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.fecha_fin, htmlAttributes: new { @class = "control-label", @style = "width:140px;" })
                    @Html.TextBox("ddlFecha_fin", "", new { @class = "date-picker", @style = "border-color: red" })
                    @Html.ValidationMessageFor(model => model.fecha_fin, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    @Html.Label("Puesto", htmlAttributes: new { @id = "ddlPuesto", @class = "control-label", @style = "width:140px;" })
                    @Html.DropDownListFor(m => m.SelectedPuestoId, new SelectList(Model.Puestos, "Value", "Text", "0"), "--Seleccionar--", new { @class = "form-control input-sm", @style = "width:175px;" })
                    @Html.ValidationMessageFor(m => m.SelectedPuestoId)
                </div>
                <div class="form-group">
                    @Html.Label("Turno", htmlAttributes: new { @id = "ddlTurno", @class = "control-label", @style = "width:140px;" })
                    @Html.DropDownListFor(m => m.SelectedTurnoId,
                        new SelectList(Model.Turnos, "Value", "Text", "0"), "--Seleccionar--",
                        htmlAttributes: new { @class = "form-control input-sm", @style = "width:175px; " })
                    @Html.ValidationMessageFor(m => m.SelectedTurnoId)
                </div>                
                <div class="form-group">
                </div>
            </div>                        
            <div class="form-inline">                
                <div class="form-group">
                    @Html.Label(" ", htmlAttributes: new { @class = "control-label", @style = "width:170px;" })
                </div>
                <div class="form-group">
                    <input type="button" id="btn-buscar" value="Buscar" class="btn btn-primary btn-sm" />
                </div>
                <div class="form-group">
                   
                </div>
            </div>
        }
    </form>
</div>

<div class="form-horizontal">
    <div class="form-group" id="divIndexDetail">
        @Html.Partial("_lstProgramarPersonalsPro")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant',
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['es']);
            });

            $("#ddlFecha_inicio").datepicker({
                minDate: new Date(),
                onClose: function (selectedDate) {
                    $("#ddlFecha_fin").datepicker("option", "minDate", selectedDate);
                },
            });

            $("#ddlFecha_fin").datepicker({
                onClose: function (selectedDate) {
                    $("#ddlFecha_inicio").datepicker("option", "maxDate", selectedDate);
                }
            });
            $("#ddlFecha_inicio").datepicker({ dateFormat: "dd/mm/yy" }).mask("99/99/9999");
            $("#ddlFecha_fin").datepicker({ dateFormat: "dd/mm/yy" }).mask("99/99/9999");
        });
        $(function () {
            $("#btn-buscar").on("click", function () {

                var vFechaInicioVal = $('#ddlFecha_inicio').val();
                if (vFechaInicioVal == "") {
                    WarningMessage("Debe ingresar una Fecha de Inicio");
                    return;
                }

                var vFechaFinVal = $('#ddlFecha_fin').val();
                if (vFechaFinVal == "") {
                    WarningMessage("Debe ingresar una Fecha de Fin");
                    return;
                }

                var vTurnoVal = $('#SelectedTurnoId').val();
                vTurnoVal = vTurnoVal !== "" ? parseInt(vTurnoVal) : 0;

                var vPuestoVal = $('#SelectedPuestoId').val();
                vPuestoVal = vPuestoVal !== "" ? parseInt(vPuestoVal) : 0;
                
                $.ajax({
                    url: "/ReProgramarPersonal/lstProgramarPersonal",
                    data: { 'pFechaInicio': vFechaInicioVal, 'pFechaFin': vFechaFinVal, 'pIdPuesto': vPuestoVal, 'pIdTurno': vTurnoVal },
                    async: false,
                    success: function (data) {
                        $('#ddlFecha_inicio').val('');
                        $('#ddlFecha_fin').val('');
                        $('#SelectedTurnoId').val("");
                        $('#SelectedPuestoId').val("");
                        $("#divIndexDetail").html(data);
                    },
                    error: function (ex) {
                        console.log(ex);
                    }
                });
            });
        });       
    </script>
}