<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Innova Schools</title>

    @Styles.Render("~/Content/bootstrap.css")
    <!-- Bootstrap -->
    @Styles.Render("~/bootstrap/css")
    @*[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
    html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/
    respond.min.js"></script>
    <![endif]-->*@

    <style>
        .navbar-default .navbar-nav > li > a {
            color: #ffffff;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @Scripts.Render("~/bootstrap/js")
    @Scripts.Render("~/bundles/modernizr")    
    @Scripts.Render("~/bootstrap/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/bootstrap")
    
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    @*<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>*@
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
   @* <script type='text/javascript'>
    $(function(){
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'            
        });
    })
    </script>*@


</head>
<body>
    @{
        Html.RenderPartial("_HeaderNavBar");   
    }
    <div class="container body-content">        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UPC Derechos reservados (C)</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
